<div class="leftfooter">
	    		<a>about us</a>
	    		<span>.</span>
	    		<a id="help">contact $ faq</a>
	    	</div>
	    	<div class="footer-container-logo">
		 		<a href="#">
	 				<image id="footer-logo" src="../images/logof.png"/>	
	 			</a>
	 		</div>
	    	<div class="rightfooter">
	    		<a>terms of service</a>
	    		<span>.</span>
	    		<a>privacy police</a>
	    	</div>