<div class="leftfooter">
	    		<a href="http://www.zam.com/terms.html">about us</a>
	    		<span>.</span>
	    		<a href = "http://www.zam.com/terms.html" id="help">contact $ faq</a>
	    	</div>
	    	<div class="footer-container-logo">
		 		<a href="/">
	 				<image id="footer-logo" src="../images/logof.png"/>
	 			</a>
	 		</div>
	    	<div class="rightfooter">
	    		<a href = "http://www.zam.com/terms.html">terms of service</a>
	    		<span>.</span>
	    		<a href = "http://www.zam.com/terms.html">privacy polices</a>
	    	</div>
