<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../styles/indexstyles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <script src="../scripts/jquery.min.js"></script>
  <script src="../scripts/mainscript.js"></script>
  <title></title>
 </head>
 <body>
	 <header>
	 	<ul id="open-list">
			<li class="unselected">Europe West</li>
			<li class="unselected">Europe Nord</li>
			<li class="unselected">Brazil</li>
			<li class="unselected">Korea</li>
			<li class="unselected">Turkey</li>
			<li class="unselected">Russia</li>
			<li class="unselected">Oceania</li>
			<li class="unselected">Japan</li>
			<li class="unselected">Latin America</li>
			<li class="unselected">North America</li>
		</ul>
	 	<div class="header-top">
		 	<div class="header-top-content">
		 		<div class="header-user-area">
		 			<a>login</a>
		 			<span class="razdelitel">|</span>
		 			<a>register</a>
		 		</div>
		 		<div class="header-container-logo">
		 			<a href="#">
	 				<image id="logo" src="../images/logo.png"/>	
	 				</a>
	 			</div>
		 		<div class="header-statistics">
		 			<div class="search">
		 				<form id="send-statistics">
			 				<input type="text" autofocus="autofocus" id="statistics-search" placeholder="JekLucky" name="statistics-search">
			 				<button id="search-button">
			 					<span class="fa fa-search" id="search-icon"></span>
			 				</button>
			 				<div class="test-container">
				 				<ul id="close-list">
				 					<li class="selected">euw</li>
				 				</ul>
			 				</div>
		 				</form>
		 			</div>
		 			<div class="social-networks">
			 			<a href="#" class="fa fa-facebook"></a>
			 			<span class="razdelitel">|</span>
			 			<a href="#" class="fa fa-twitter"></a>
			 			<span class="razdelitel">|</span>
			 			<a href="#" class="fa fa-youtube" id="youtube"></a>
			 		</div>
		 		</div>
		 	</div>
	 	</div>
	 	<div class="header-navigation">
	 		<div class="header-navigation-content">
		 		<div class="header-leftnavigation">
			 		<a id="guide">
			 		guides
			 		</a>
			 		<a id="items">items</a>
			 		<a id="champions">champions</a>
		 		</div>
		 		<div class="header-rightnavigation">
			 		<a>skins</a>
			 		<a>replays</a>
			 		<a>streams</a>
		 		</div>
		 	</div>
		 </div>
		<div class="guides-menu">
			 <div class="guides-menu-content">
			 	<div class="guides-menu-text">
			 		<div class="guides-menu-header-text">
			 			Guides
			 		</div>
			 		<div class="guides-menu-text-text">
			 			<div class="vertical-hr">
			 			</div>
			 			<div class="guides-menu-text-href">
				 			<a>Read Guides</a>
				 			<a>Create a Guide</a>
			 			</div>
			 		</div>
			 	</div>
				 <div class="guides-menu-blocks">
					 <div class="guide-block">
						 <div class="img-container-guide">
							 <a><img  src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="guide-block-header">
							 <a>First Guide</a>
						 </div>
						 <div class="description-guide">
							 <div class="guide-block-text">
								 World Championship loot and missions fdssssss f sf sdf s f sfd  fdsfsfd sfdfsf sf
							 </div>
						 </div>
					 </div>
					 <div class="guide-block">
						 <div class="img-container-guide">
							 <a><img  src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="guide-block-header">
							 <a>First Guide</a>
						 </div>
						 <div class="description-guide">
							 <div class="guide-block-text">
								 World Championship loot and missions fdssssss f sf sdf s f sfd  fdsfsfd sfdfsf sf
							 </div>
						 </div>
					 </div><div class="guide-block">
					 <div class="img-container-guide">
						 <a><img  src="../images/slide1.jpg"/></a>
					 </div>
					 <div class="guide-block-header">
						 <a>First Guide</a>
					 </div>
					 <div class="description-guide">
						 <div class="guide-block-text">
							 World Championship loot and missions fdssssss f sf sdf s f sfd  fdsfsfd sfdfsf sf
						 </div>
					 </div>
				 </div><div class="guide-block">
					 <div class="img-container-guide">
						 <a><img  src="../images/slide1.jpg"/></a>
					 </div>
					 <div class="guide-block-header">
						 <a>First Guide</a>
					 </div>
					 <div class="description-guide">
						 <div class="guide-block-text">
							 World Championship loot and missions fdssssss f sf sdf s f sfd  fdsfsfd sfdfsf sf
						 </div>
					 </div>
				 </div>
				 </div>
			 </div>
		</div>
		 <div class="items-menu">
			 <div class="items-menu-content">
				 <div class="items-menu-text">
					 <div class="items-menu-header-text">
						 Items:
					 </div>
					 <div class="items-menu-text-text">
						 <div class="vertical-hr-items">
						 </div>
						 <div class="items-menu-text-href">
							 <a>All items</a>
						 </div>
					 </div>
				 </div>
				 <div class="items-menu-blocks-top">
					 <div class="header-items-top">
						 <hr>
						 <span>Highest win rate</span>
					 </div>
					 <div class="items-menu-block-top">
						 <div class="img-container-item">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-items">
							 <span class="fa fa-trophy icon-item1"></span>
							 <span class="fa fa-heart icon-item2"></span>
						 </div>
						 <div class="description-item">
							 <div class="item-block-header">
								 88.34%
							 </div>
							 <div class="item-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="items-menu-block-top">
						 <div class="img-container-item">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-items">
							 <span class="fa fa-trophy icon-item1"></span>
							 <span class="fa fa-heart icon-item2"></span>
						 </div>
						 <div class="description-item">
							 <div class="item-block-header">
								 88.34%
							 </div>
							 <div class="item-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="items-menu-block-top">
						 <div class="img-container-item">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-items">
							 <span class="fa fa-trophy icon-item1"></span>
							 <span class="fa fa-heart icon-item2"></span>
						 </div>
						 <div class="description-item">
							 <div class="item-block-header">
								 88.34%
							 </div>
							 <div class="item-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="items-menu-block-top" id="last-block-items-top">
						 <div class="img-container-item">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-items">
							 <span class="fa fa-trophy icon-item1"></span>
							 <span class="fa fa-heart icon-item2"></span>
						 </div>
						 <div class="description-item">
							 <div class="item-block-header">
								 88.34%
							 </div>
							 <div class="item-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
				 </div>
				 <div class="items-menu-blocks-bottom">
					 <div class="header-items-bottom">
						 <hr>
						 <span>Most popular</span>
					 </div>
					 <div class="items-menu-block-top">
						 <div class="img-container-item">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-items">
							 <span class="fa fa-trophy icon-item1"></span>
							 <span class="fa fa-heart icon-item2"></span>
						 </div>
						 <div class="description-item">
							 <div class="item-block-header">
								 88.34%
							 </div>
							 <div class="item-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="items-menu-block-top">
						 <div class="img-container-item">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-items">
							 <span class="fa fa-trophy icon-item1"></span>
							 <span class="fa fa-heart icon-item2"></span>
						 </div>
						 <div class="description-item">
							 <div class="item-block-header">
								 88.34%
							 </div>
							 <div class="item-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="items-menu-block-top">
						 <div class="img-container-item">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-items">
							 <span class="fa fa-trophy icon-item1"></span>
							 <span class="fa fa-heart icon-item2"></span>
						 </div>
						 <div class="description-item">
							 <div class="item-block-header">
								 88.34%
							 </div>
							 <div class="item-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="items-menu-block-top" id="last-block-items-bottom">
						 <div class="img-container-item">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-items">
							 <span class="fa fa-trophy icon-item1"></span>
							 <span class="fa fa-heart icon-item2"></span>
						 </div>
						 <div class="description-item">
							 <div class="item-block-header">
								 88.34%
							 </div>
							 <div class="item-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="champions-menu">
			 <div class="champions-menu-content">
				 <div class="champions-menu-text">
					 <div class="champions-menu-header-text">
						 champions:
					 </div>
					 <div class="champions-menu-text-text">
						 <div class="vertical-hr-champions">
						 </div>
						 <div class="champions-menu-text-href">
							 <a>Newest</a>
							 <div class="last-champions">
								 <a>Orn</a>
								 <a>Xayah</a>
								 <a>Rakan</a>
							 </div>
							 <a id="last-a-champions">All champions</a>
						 </div>
					 </div>
				 </div>
				 <div class="champions-menu-blocks-top">
					 <div class="header-champions-top">
						 <hr>
						 <span>Highest win rate</span>
					 </div>
					 <div class="champions-menu-block-top">
						 <div class="img-container-champions">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-champions">
							 <span class="fa fa-trophy icon-champion1"></span>
							 <span class="fa fa-heart icon-champion2"></span>
						 </div>
						 <div class="description-champions">
							 <div class="champions-block-header">
								 88.34%
							 </div>
							 <div class="champions-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="champions-menu-block-top">
						 <div class="img-container-champions">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-champions">
							 <span class="fa fa-trophy icon-champion1"></span>
							 <span class="fa fa-heart icon-champion2"></span>
						 </div>
						 <div class="description-champions">
							 <div class="champions-block-header">
								 88.34%
							 </div>
							 <div class="champions-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="champions-menu-block-top">
						 <div class="img-container-champions">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-champions">
							 <span class="fa fa-trophy icon-champion1"></span>
							 <span class="fa fa-heart icon-champion2"></span>
						 </div>
						 <div class="description-champions">
							 <div class="champions-block-header">
								 88.34%
							 </div>
							 <div class="champions-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="champions-menu-block-top" id="last-block-champions-top">
						 <div class="img-container-champions">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-champions">
							 <span class="fa fa-trophy icon-champion1"></span>
							 <span class="fa fa-heart icon-champion2"></span>
						 </div>
						 <div class="description-champions">
							 <div class="champions-block-header">
								 88.34%
							 </div>
							 <div class="champions-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
				 </div>
				 <div class="items-menu-blocks-bottom">
					 <div class="header-items-bottom">
						 <hr>
						 <span>Most popular</span>
					 </div>
					 <div class="champions-menu-block-top">
						 <div class="img-container-champions">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-champions">
							 <span class="fa fa-trophy icon-champion1"></span>
							 <span class="fa fa-heart icon-champion2"></span>
						 </div>
						 <div class="description-champions">
							 <div class="champions-block-header">
								 88.34%
							 </div>
							 <div class="champions-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="champions-menu-block-top">
						 <div class="img-container-champions">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-champions">
							 <span class="fa fa-trophy icon-champion1"></span>
							 <span class="fa fa-heart icon-champion2"></span>
						 </div>
						 <div class="description-champions">
							 <div class="champions-block-header">
								 88.34%
							 </div>
							 <div class="champions-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="champions-menu-block-top">
						 <div class="img-container-champions">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-champions">
							 <span class="fa fa-trophy icon-champion1"></span>
							 <span class="fa fa-heart icon-champion2"></span>
						 </div>
						 <div class="description-champions">
							 <div class="champions-block-header">
								 88.34%
							 </div>
							 <div class="champions-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
					 <div class="champions-menu-block-top" id="last-block-champions-bottom">
						 <div class="img-container-champions">
							 <a><img src="../images/slide1.jpg"/></a>
						 </div>
						 <div class="icons-champions">
							 <span class="fa fa-trophy icon-champion1"></span>
							 <span class="fa fa-heart icon-champion2"></span>
						 </div>
						 <div class="description-champions">
							 <div class="champions-block-header">
								 88.34%
							 </div>
							 <div class="champions-block-bot">
								 1.23%
							 </div>
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>
	 </header>	
	 <div class="sliders-content">
	 	<div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <input type="radio" id="button-4" name="controls"/>
        <label for="button-1" class="arrows" id="arrow-1">></label>
        <label for="button-2" class="arrows" id="arrow-2">></label>
        <label for="button-3" class="arrows" id="arrow-3">></label>
        <div id="slideshow-inner">
            <ul>
                <li id="slide1">
                    <img src="../images/slide11.jpg" />
                </li>
                <li id="slide2">
                    <img src="../images/slide22.jpg" />
                </li>
                <li id="slide3">
                    <img src="../images/slide33.jpg" />
                </li>
            </ul>
        </div>
    	</div>
    	<div class="description-slide" id="description-slide1">
    		<div class="header-slide">
              	Header first1
   			 </div>
   			 <div class="text-slide">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut1</p>
            </div>
    	</div>
    	<div class="description-slide" id="description-slide2">
    		<div class="header-slide">
              	Header first2
   			 </div>
   			 <div class="text-slide">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut2</p>
            </div>
    	</div>
    	<div class="description-slide" id="description-slide3">
    		<div class="header-slide">
              	Header first3
   			 </div>
   			 <div class="text-slide">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut3</p>
            </div>
    	</div>
	</div>
	<div class="news-content">
		<div class="container-add">
				<div class="add">
					<img id="top-add" src="../images/add.jfif"/>
				</div>
    	</div>
    	<div class="news-list">
    		<div class="header-top-new">
    			<hr/>
    			<span>top news</span>
    		</div>
	    	<div class="top-new">
	    		<div class="image-new">
	    			<img src="../images/slide2.jpg"/>
	    		</div>
	    		<div class="header-new">
	              	A First New
	           	 </div>
	   			 <div class="text-new">
	                   <p>With Riot's latest skin theme, Immortal Journey, co-starring alongside an Arclight guest, we'll be here to break down some great guides to check out while rocking the new wardrobe. We've also thrown in an honorable mention to make a full team of 5 (even if they don't cover all possible lanes).</p>
	            </div>
	    	</div>
	    	<div class="header-top-new">
    			<hr/>
    			<span>recent stories</span>
    		</div>
    		<div class="recentnews">
    			<%  for(i = title.length - 1; i >=0; i--){
    				if(i === (title.length - 4)) {break;} 
    				count = count - 1 
    				var url;
	                var j;
	                for(j = 0; j < image.length; j++){
	                    if(image[j].id === title[i].imageId){
	                        url = image[j].url;
	                        break;
	                    }
	                }
    				%>
					<div class="recent-new">
			    		<div class="image-recent">
			    			<img src="<%= url %>"/>
			    		</div>
			    		<div class="describe-recent">
				    		<div class="header-recent">
				              	<%= title[i].title %>
				           	 </div>
				   			 <div class="text-recent">
				                <p><%= title[i].body %>
								</p>
				            </div>
			            </div>
		    		</div><%
				}%>
			    <div class="invisible">
			    </div>
	    	</div>
	    	<div id="showmore-button">
	    		Show More News
	    	</div>
	    	<div id="loading">
	    		<img src="../images/loading.gif" />
	    	</div>
    	</div>
    	<div class="news-add">
    		<div class="side-add">
					<img src="../images/add2.jfif"/>
			</div>		
    	</div>
    	<div class="footer">
	    	<div class="leftfooter">
	    		<a>about us</a>
	    		<span>.</span>
	    		<a id="help">contact $ faq</a>
	    	</div>
	    	<div class="footer-container-logo">
		 		<a href="#">
	 				<image id="footer-logo" src="../images/logof.png"/>	
	 			</a>
	 		</div>
	    	<div class="rightfooter">
	    		<a>terms of service</a>
	    		<span>.</span>
	    		<a>privacy police</a>
	    	</div>
    	</div>
    </div>
 </body>
 </html>