<!DOCTYPE html>
<html>
 <head>
  	<% include ./head.html %>
  	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  	<link rel="stylesheet" href="../styles/loginstyles.css">
    <script src="../scripts/loginscript.js"></script>
    <title>Login2</title
 </head>
 <body>
	 <header>
	 	<% include ./header %>
	 </header>	
	 <div class = "login">
		 <div class="login-header">
		 	<div class ="login-header-head">
		 		Login
		 	</div>
		</div>
		<div class="login-body">
	    	<div class="login-body-content">
	    		<div class="field">
	    			<div class="label">
	    				<p>login:</p>
	    				<span>*</span>
	    			</div>
	    			<div class="input">
	    				<input type="text" id="loginname" placeholder="Enter your Login"/>
	    			</div>
	    		</div>
	    		<div class="field">
	    			<div class="label">
	    				<p>password:</p>
	    				<span>*</span>	    			
	    			</div>
	    			<div class="input">
	    				<input type="password" id="password" placeholder="Enter your Password"/>
	    				<div id="button">Login</div>
	    			</div>
	    		</div>
	    		<div id="login-error">
	    			Please check your login and password and reenter then
	    		</div>
	    		<div id="login-error2">
	    			Incorrect length of login or password
	    		</div>
	    	</div>
	    	<div class="login-body-ask">
	    		<p>New here? <a>Register for an account</a></p>
	    		<p id="last">Not sure what your password is? <a>Reset your password here</a></p>
	    	</div>
	    </div>
    </div>
 </body>
 <footer>
 	<div class="footer">
 	<% include ./footer %>
 	</div>
 </footer>
 </html>