<!DOCTYPE html>
<html>
 <head>
  	<% include ./head.html %>
  	<link rel="stylesheet" href="../styles/loginstyles.css">
    <script src="../scripts/loginscript.js"></script>
    <title>Login2</title
 </head>
 <body>
	 <header>
	 	<% include ./header %>
	 </header>	
	 <div class = "login">
		 <div class="login-header">
		 	<div class ="login-header-head">
		 		Login
		 	</div>
		</div>
		<div class="login-body">
	    	<div class="login-body-content">
	    		<div class="login-body-content-text">
	    			adasdasd
	    		</div>
	    		<div class="login-body-content-form">
	    			dasdasdads
	    		</div>
	    	</div>
	    	<div class="login-body-ask">
	    		<p> <a></a> </p>
	    		<p> <a></a> </p>
	    		<p> <a></a> </p>
	    	</div>
	    	<div class="footer">
		    	<% include ./footer %>
	    	</div>
	    </div>
    </div>
 </body>
 </html>