<!DOCTYPE html>
<html>
 <head>
  	<% include ./head.html %>
  	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  	<link rel="stylesheet" href="../styles/pagenotfound.css">
  	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Faustina" rel="stylesheet">
    <title>Page Not Found</title
 </head>
 <body>
	 <header>
	 	<% include ./header %>
	 </header>
	 <div class="contet">
        <div class="img-container">
            <img src="../images/page.jpg"/>
        </div>
        <div class="text">
            Not found
        </div>
     </div>
 </body>
 <footer>
 	<div class="footer">
 	<% include ./footer %>
 	</div>
 </footer>
 </html>
