body{
    padding: 0;
    margin: 0;
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.new-content{
    width: 1100px;
    margin: 0 auto;
    background-color: #242424;
    overflow: hidden;
    position: relative;
}
.new-img{
    overflow: hidden;
    height: 300px;
}
.new-img img{
    width: 100%;
}
.new-name{
    position: relative;
    top: -97px;
    left: 50px;
    z-index: 2;
    font-size: 51px;
    font-family: 'Dancing Script', cursive;
    color: #ffcd03;
    text-shadow: none;
    line-height: 46px;
    letter-spacing: 0em;
    font-weight: 500;
    margin-top: -86px;
}

.tag{
    position: relative;
    top: -177px;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #aaaaaa;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #004577;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    display: inline-block;
    margin-bottom: 16px;
    padding-left: 50px;
    padding-right: 16px;
    font-family: 'Open Sans', sans-serif;
}

.new-body{
    margin-left: 25px;
    font-size: 20px;
    color: #d44242;
    line-height: 24px;
    width: 50%;
    margin-bottom: 30px;
}
.new-body .date{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #aaaaaa;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-bottom: 20px;
}
.new-article{
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Faustina', serif;
    color: #cec6c6;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer{
    margin: 0 auto;
}
#last{
    margin-bottom: 23px;
}
.recent-stories{
    overflow: hidden;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}
.recent-stories hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    z-index: 1;
}
.recent-stories span {
    text-align: center;
    color: #008df3;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 0 20px;
    position: relative;
    z-index: 2;
    bottom: 29px;
    background: #242424;
}
.recent{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: #1a1a1a;
    border: 2px solid #111111;
    border-radius: 5px;
}
.recent-wrap-new{
    float: left;
    width:30%;
}
.image-recent-st {
    width: 100%;
    overflow: hidden;
    height: 200px;
}
.image-recent-st img{
    height: 200px;
}
.describe-recent-st{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-weight: 500;
    line-height: 30px;
    padding: 15px;
}
.recent-list{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}
.center-recent-new{
    width: 40%;
}
.center-recent-New{
    width: 75%;
    margin: 0 auto;
}
.center-recent-new .recent {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .new-content {
      width: 660px;
    }
    .image-recent-st {
      height: 150px;
    }
}

@media screen and (max-width: 663px) {
    .new-content {
      width: 100%;
    }
    .image-recent-st {
      height: 90px;
    }
    .describe-recent-st {
      padding: 5px;
     }
     .new-name {
       font-size: 30px;
       line-height: 30px;
       width: 340px;
       left: 10px;
       top: -167px;
     }
     .tag {
       top: -247px;
     }
}
