body{
    padding: 0;
    margin: 0;
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer{
    margin: 0 auto;
}

.champions-content{
    width: 1100px;
    margin: 0 auto;
    background-color: #242424;
    overflow: hidden;
}
.champions-header{
    margin: 0 auto;
    background: url(../images/champion-header.jpg);
    width: 1100px;
    height:140px;
}
.champions-header-head{
    font-size: 52px;
    font-family: "league-gothic";
    color: #eabc00;
    font-style: italic;
    margin-left: 40px;
    padding-top: 35px;
}
.champions-search{
    overflow: hidden;
    background-color: inherit;
}
.champions-search p{
    display: block;
    float: left;
    padding: 25px 0 25px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 16px;
    color: #FFF;
}
.champion-search-block{
    height: 66px;
    float: right;
    color: #FFF;
}

.champion-search-block input[type="text"] {
    margin: 0;
    margin-top: 13px;
    margin-right: 20px;
    padding: 3px 15px 3px 45px;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #fff;
    width: 150px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

.champion-search-block input[type="text"]:focus {
    background: #271a1a;
}

.champion-search-block input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    margin-left: 20px;
    color: white;
}
.champion-search-block input::-moz-placeholder { /* Firefox 19+ */
    margin-left: 20px;
  color: white;
}
.champion-search-block input::-ms-input-placeholder { /* IE 10+ */
    margin-left: 20px;
  color: white;
}
.champion-search-block input::-moz-placeholder { /* Firefox 18- */
    margin-left: 20px;
  color: white;
}

#champion-search-button{
    width: 46px;
    height: 49px;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    position: relative;
    bottom: 45px;
    left: 0px;
    box-shadow: none;
    color: #008df3;
    background: transparent;
    border: transparent;
}

#champion-search-icon{
    color: #1770b1;
    font-size: 20px !important;
}

.champions-filter{
    border-top: 1px solid #7d5e5e;
    overflow: hidden;
    padding-left: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #383838;
}

.filter-type-way{
    float: left;
    margin-left: 8px;
    width: 52px;
}

.filter-type-logo{
    background-color: #1a1a1a;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 40px;
    line-height: 50px;
    height: 40px;
    display: inline-block;
    color: #008df3;
    padding: 0px 8px;
    box-sizing: border-box;
    z-index: 5;
    border-color: #383838;
}

.filter-type-logo:hover{
    cursor: pointer;
    background-color: #008df3;
}

.first-sort, .first-role{
    background-color: #008df3;
}

.filter-type-header p{
    margin-left: 8px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #c0ccd4;
}
.filter-type-text{
    color: #ffffff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 5px;
    margin-left: -4px;
    text-align: center;
    line-height: 10px;
    width: 52px;
}

.filter-role{
    float: left;
    margin-top: 9px;
    overflow: hidden;
    border-left: 2px solid yellow;
}

.filter-sort{
    float: left;
    margin-top: 9px;
    margin-left: 60px;
    overflow: hidden;
    border-left: 2px solid green;
}
.champions-list{
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #111111;
    text-align: center;
}
.champions-list-row{
    display: inline-block;
    margin: 0 auto;
}
.champion-item{
    padding-right: 20px;
    overflow: hidden;
    margin-right:10px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 0px;
    margin-bottom: 5px;
    background-color: #1a1a1a;
}
.champion-item-img{
    float: left;
    overflow: hidden;
    width:64px;
    height:64px
}
.champion-icon{
    float: left;
    background-color: #111111;
}
.champion-item-img img{
    height:100%;
}
.champions-block-Win{
    letter-spacing: 0em;
    margin-top: 8px;
    margin-left: 7px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 9px;
    font-size: 14px;
    color: #46bfbd;
    font-weight: 600;
    text-align: left;
}
.champions-block-Pick{
    letter-spacing: 0em;
    margin-left: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #914caf;
    font-weight: 600;
    text-align: left;
}
.champions-des{
    float: left;
}
.champion-item a:hover{
    cursor: pointer;
}
.champion-icon span{
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right:10px;
    margin-left: 10px;
}
.icon-champion1{
    color: #e3c02c;
    margin-top: 10px;
    margin-bottom: 32px;
}

.champion-icon span{
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right:10px;
    margin-left: 10px;
    margin-bottom: 13px;
}

.icon-championWin{
    color: #e3c02c;
    margin-top: 11px;
    margin-bottom: 14px;
}
.icon-championPick{
    color: #25de28;
    margin-bottom: 10px;
}
.champion-wrap{
    width:20%;
    float: left;
}
.champion-name p{
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.075em;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #eabc00;
}
.championRoleAttribute {
    display: none;
}

@media screen and (max-width: 1200px) {
    .champions-header {
      width: 660px;
    }
    .champions-content {
      width: 660px;
    }

    .champion-item-img {
      width: 58px;
      height: 58px;
    }
    .champion-icon {
      display: none;
    }
    .champions-block-Win, .champions-block-Pick {
      font-size: 12px;
      margin-left: 2px;
    }
    .champions-block-Win{
      margin-bottom: 10px;
    }
    .champion-item {
      padding-right: 0px;
    }
    .champion-wrap {
      height: 118px;
    }
    .champion-name p {
      margin-top: 0px;
      margin-bottom: 10px;
    }
    .filter-sort {
      margin-left: 0px;
    }
    .champion-search-block input[type="text"] {
      margin-right: 20px;
    }
}

@media screen and (max-width: 663px) {
  .champions-header {
    width: 100%;
  }
  .champions-content {
    width: 100%;
  }
  .champion-item-img {
    width: 100%;
    height: 58px;
  }
  .champion-icon {
    display: none;
  }
  .champions-des {
    display: none;
  }
  .champion-item {
    padding-right: 0px;
    margin: 0 auto;
    border: none;
    width: 58px;
  }
  .champion-wrap {
    height: 118px;
  }
  .champion-name p {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .champion-search-block input[type="text"] {
    margin-right: 2px;
    width: 100px;
  }
}
