body{
    padding: 0;
    margin: 0;
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer{
    margin: 0 auto;
}

.champion-content{
    width: 1100px;
    margin: 0 auto;
    background-color: #242424;
    overflow: hidden;
    position: relative;
}
.champion-header{
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}
.champion-img{
    overflow: hidden;
}
.champion-img video{
    width: 110%;
    margin-bottom: -5px;
}
.champion-name{
    position: relative;
    top: -167px;
    left: 50px;
    z-index: 2;
    font-size: 71px;
    font-family: 'Khand', sans-serif;
    font-style: italic;
    color: #ffcd03;
    text-shadow: none;
    line-height: 86px;
    letter-spacing: 0em;
    font-weight: 600;
    margin-top: -86px;
}
.champion-header-stats{
    background-color: #2b6cad;
    border-bottom-color: #2b6cad;
    cursor: pointer;
    position: relative;
    top: 6px;
    left: 0;
    width: 305px;
    height: 75px;
    border-top: 5px solid white;
    padding-left: 8px;
    margin-top: -80px;
    z-index: 3;
}
.champ-stats{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: center;
    display: inline-block;
    width: 90px;
    padding-top: 15px;
    position: relative;
    z-index: 3;
}
.divider{
    display: inline-block;
}
.champ-stats span{
    display: block;
}
.value-stat{
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
    letter-spacing: 0.05em;
    font-weight: 700;
}
.title-stat{
    font-weight: 900;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.05em;
    position: relative;
    bottom: 4px;
    text-transform: uppercase;
}
.background {
    padding-left: 15px;
    position: relative;
    top: -2px;
    left: 309px;
    width: 0;
    height: 0;
    border-bottom: 75px solid #fff;
    border-right: 72px solid transparent;
    margin-top: -72px;
    z-index: 2;
}
.background2 {
    padding-left: 10px;
    width: 0;
    /* height: 10px; */
    border-bottom: 75px solid #2b6cad;
    border-right: 72px solid transparent;
    position: relative;
    top: 5px;
    left: 311px;
    margin-top: -77px;
    padding-left: 10px;
    z-index: 3;
}
.champion-next{
    height: 75px;
    background: #242424;
    border-bottom: 5px solid white;
    position: absolute;
    /* top: 75px; */
    width: 110px;
    left: 990px;
    font-family: 'Open Sans', sans-serif;
    color: #777777;
    font-size: 12px;
    font-weight: 990;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
}
.champion-next span{
    letter-spacing: 0.15em;
    font-weight: bold;
    display: block;
    color: #aaaaaa;
}
.champion-next p:hover, span:hover{
    cursor: pointer;
}
.champion-next:hover{
    color: #ccbf19
}
.champion-next p{
    display: block;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-right: 20px;
}
.background3 {
    padding-left: 15px;
    position: absolute;
    top: 77px;
    left: 905px;
    width: 0;
    height: 0;
    border-top: 75px solid #fff;
    border-left: 72px solid transparent;
    margin-top: -72px;
    z-index: 2;
}
.background4 {
    padding-left: 10px;
    width: 0;
    /* height: 10px; */
    border-top: 75px solid #242424;
    border-left: 72px solid transparent;
    position: absolute;
    top: 77px;
    left: 908px;
    margin-top: -77px;
    padding-left: 10px;
    z-index: 3;
}
.champion-history-wrap{
    background: none repeat scroll 0 0 #1a1a1a;
    /* border-radius: 6px; */
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #383838;
}
.champion-description{
    color: #bfabab;
    font: 600 16px 'Open Sans';
    text-transform: uppercase;
    background-color: #000000;
    letter-spacing: 0.2em;
    padding: 20px 10px;
}
.champion-text{
    font: 200 14px 'Open Sans';
    color: #DDDDDD;
    padding: 10px;
    background-color: #1a1a1a;
    line-height: 20px;
}
rect{
    fill: transparent;
}
.win-stat-ch{
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 30px;
}
.header-graph1{
    font-size: 16px;
    letter-spacing: 0.2em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 16px;
    margin: 0px;
    font-family: 'Open Sans';
    color: #a54343;
    margin-bottom: -30px;
}
.header-graph2{
    font-size: 16px;
    letter-spacing: 0.2em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 16px;
    margin: 0px;
    font-family: 'Open Sans';
    color: #4db951;
    margin-bottom: -30px;
}
.champion-name span{
    top: 60px;
    position: absolute;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #eee;
    margin: 0 0 0 6px;
    text-transform: uppercase;
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.champion-next a{
    color: gray;
    text-decoration: none;
}
.champion-next a:hover{
    color: #ccbf19;
}

@media screen and (max-width: 1200px) {
    .champion-content {
      width: 660px;
    }
    .champion-img {
      height: 269px;
    }
    .champion-name {
      top: -121px;
    }
    .champion-history-wrap {
      width: 600px;
    }
    .header-graph1 {
      min-height: 32px;
      margin-left: 10px;
    }
    svg {
      margin-left: -50px;
    }
    .champion-img video {
      width: 160%;
      margin-left: -200px;
    }
}

@media screen and (max-width: 663px) {
  .champion-content {
    width: 100%;
  }
  .champion-img {
    height: 269px;
  }
  .champion-img video {
    width: 270%;
    margin-left: -600px;
  }
  .champion-name {
    top: -121px;
    font-size: 31px;
    left: 10px;
  }
  .champion-history-wrap {
    width: 90%;
  }
  .header-graph1 {
    min-height: 32px;
    margin-left: 10px;
  }
  .champion-header {
    max-height: 280px;
  }
  .clean {
    display: none;
  }
}

.clean {
  display: none;
}
