header {
    margin: 0;
    padding: 0;
    color: white;
}

hr{
    display: block;
     height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    z-index:1;
}

.header-container-logo img{
    position: absolute;
    width: 208px;
    height: 208px;
    z-index:20;
}
.header-top-content{
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 1100px;
}
.header-navigation-content{
    overflow: hidden;
    margin: 0 auto;
    width: 1100px;
}
.header-top{
    margin: 0 auto;
    color: #bbafaf;
    font-size: 12px;
    overflow: hidden;
    background-color: #1a1a1a;
}
.header-user-area{
    margin-left: 220px;
    margin-right: 85px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    float: left;
    letter-spacing: 0.2em;
    margin-top: 34px;
}
.header-user-area a{
    color: #bbafaf;
    text-decoration: none
}
.header-user-area a:hover{
    color: #FFF;
    cursor: pointer;
}
.header-statistics{
    float: right;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    letter-spacing: 0.2em;
}
.social-networks{
    float: right;
    margin-top: 34px;
    margin-left: 20px;  
}
.fa {
    text-align: center;
    text-decoration: none;
    color: #bbafaf;
    font-size: 14px !important; 
}
.header-navigation{
    width: 100%;
    overflow: hidden;
    background: #111111;
    z-index: 19;
}
.header-leftnavigation{
    float: left;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    font-size: 12px;
    text-transform: uppercase;
}
.header-leftnavigation a{
    display: block;
    float: left;
    margin-right: 77px;
    line-height: 70px;
}
.header-rightnavigation{
    float: right;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    font-size: 12px;
    text-transform: uppercase;
}
.header-rightnavigation a{
    display: block;
    float: left;
    margin-left: 90px;
    line-height: 70px;
}
.header-navigation-content a{
    color: #337ab7;
}
.header-navigation-content a:hover{
    cursor: pointer;
    color: #FFF;
    box-shadow: inset 0 -5px 0 #e9bb03;
}
#user-area{
    color: #444;
    font-size: 12px;
}
.razdelitel{
    color: #444;
    font-size: 12px;
}
.search{
    float: left;
}
.test-container{
    display: inline-block;
    position: absolute;
    bottom: 3px;
    left: 260px;
    z-index: 9;
}
.test-container ul{
    box-shadow: none;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 2px;
    margin-bottom: 5px;
    top: 1px;
    list-style-type: none;
    padding: 0px;
}
.test-container ul li{
    width: 60px;
    background: #323232;
    border-radius: 20px;
    left: 0;
    line-height: 30px;
    position: relative;
    text-align: center;
    padding-left: 0px;
}
#search-button{
    width: 46px;
    height: 44px;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-shadow: none;
    color: #008df3;
    background: transparent;
    border: transparent;

}
.sliders-content{
    width:1100px;
    margin: 0 auto;
    height: 458px;
}
#search-button:hover{
    cursor: pointer;
}
#search-button #search-icon:hover{
    color: #FFF !important;
}
.social-networks a:hover{
    color: #21bb0f !important;
}
#youtube:hover{
    color: red !important;
}
#send-statistics{
    position: relative;
}
#search-icon{
    color: #1770b1;
    font-size: 20px !important; 
}
.selected{
    display: block;
}
.unselected{
    display: none;
}
#close-list{
    text-transform: uppercase;
    color: #FFF;
}
#close-list li:hover{
    background: #0066AA !important;
}
#close-list li{
    font-weight: 600;
}
#open-list{
    background: #0066AA !important;
    box-shadow: none;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-bottom: 5px;
    top: 26px;
    list-style-type: none;
    padding: 0px;
    z-index: 20;
}
#open-list li{
    background: #0066AA !important;
    color: #dddddd;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.075em;
    width: 130px;
    overflow: hidden;
    line-height: 30px;
    position: relative;
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
}
#open-list li:hover{
    color: #FFF;
}
input{
    background: #111;
    color: #fff;
    border: 1px solid #383838;
    font-size: 16px;
    padding: 5px 0px 4px 44px;
    border-radius: 30px;
    display: block;
    height: 33px;
    margin: 20px 0;
    width: 244px;
    text-align: left;
}
input:focus{
    width: 284px;
}

.guides-menu{
     position: fixed;
     top:152px;
     background-color: #141313;
     display: none;
     width: 100%;
     z-index:17;
 }
.guides-menu-content{
    margin: 0 auto;
    width: 1100px;
}
.guides-menu-text{
    margin-top:35px;
    float: left;
    width: 20%;
}
.guides-menu-blocks{
    float: right;
    width: 80%;
    margin-top: 35px;
}
.guides-menu-header-text{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    font-size: 14px;
    color: #337ab7;
    text-transform: uppercase;
    font-weight:800;
    margin-bottom: 15px;
}
.guides-menu-text-href a{
    letter-spacing: 0.15em;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: block;
    font-weight: 600;
}
.guides-menu-text-href a:hover{
    cursor: pointer;
}
.vertical-hr{
    float: left;
    height: 74px;
    border-left: 5px solid red;
    margin-right:15px;
}
.guide-block{
    overflow: hidden;
    float: left;
    width:205px;
    margin-right:10px;
    border: 2px solid #111111;
    border-radius: 5px;
    margin-bottom: 35px;
    background-color: #1a1a1a;
}
.img-container-guide{
    overflow: hidden;
    width:205px;
    height:150px
}
.img-container-guide img{
    height:150px;
}
.guide-block-header{
    letter-spacing: 0.15em;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #337ab7;
    font-weight: 600;
}
.guide-block-text{
    height: 60px;
    overflow: hidden;
    letter-spacing: 0.15em;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
}
.description-guide{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.guide-block a:hover{
    cursor: pointer;
}










.items-menu{
    overflow: hidden;
    position: fixed;
    top:152px;
    background-color: #141313;
    display: none;
    width: 100%;
    z-index:17;
}
.items-menu-content{
    overflow: hidden;
    margin: 0 auto;
    width: 1100px;
}
.items-menu-text{
    margin-top:35px;
    float: left;
    width: 20%;
}
.items-menu-blocks-top{
    float: right;
    margin-top: 35px;
    margin-right: 10px;
}
.items-menu-header-text{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    font-size: 14px;
    color: #337ab7;
    text-transform: uppercase;
    font-weight:800;
    margin-bottom: 15px;
}
.items-menu-text-href a{
    letter-spacing: 0.15em;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: block;
    font-weight: 600;
}
.items-menu-text-href a:hover{
    cursor: pointer;
}
.vertical-hr-items{
    float: left;
    height: 20px;
    border-left: 5px solid red;
    margin-right:15px;
}
.items-menu-block-top{
    margin-top: -10px;
    overflow: hidden;
    float: left;
    margin-right:10px;
    border: 1px solid #8D7F7F;
    border-radius: 0px;
    margin-bottom: 5px;
    background-color: #1a1a1a;
}
.img-container-item{
    float: left;
    overflow: hidden;
    width:80px;
    height:80px
}
.icons-items{
    float: left;
    background-color: #111111;
}
.img-container-item img{
    height:150px;
}
.item-block-header{
     letter-spacing: 0.15em;
     margin-top: 5px;
     margin-left: 7px;
     font-family: 'Open Sans', sans-serif;
    margin-bottom: 22px;
     font-size: 16px;
     color: #46bfbd;
     font-weight: 600;
     margin-right: 15px;
 }
.item-block-bot{
    letter-spacing: 0.15em;
    margin-left: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #525252;
    font-weight: 600;
}
.description-item{
    float: left;
}
.items-menu-block-top a:hover{
    cursor: pointer;
}
.icons-items span{
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right:10px;
    margin-left: 10px;
}
.icon-item1{
    color: #e3c02c;
    margin-top: 10px;
    margin-bottom: 32px;
}
.icon-item2{
    color: #25de28;
    margin-bottom: 10px;
}
.header-items-top{
    width: 100%;
}
.header-items-top span{
    color: #46bfbd;
    font-weight:700 ;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    bottom: 26px;
    padding: 20px;
    padding-bottom: 0px;
    left: 80px;
    z-index:2;
    background-color: #141313;
    letter-spacing: 0.2em;
}
#last-block-items-top{
    margin-right: 0;
}
#last-block-items-bottom{
    margin-right: 0;
}
.items-menu-blocks-bottom{
    margin-bottom: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.header-items-bottom span{
    color: #914caf;
    font-weight:700 ;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    bottom: 26px;
    padding: 20px;
    padding-bottom: 0px;
    left: 80px;
    z-index:2;
    background-color: #141313;
    letter-spacing: 0.2em;
}




#items{
    text-decoration: none;
}









.champions-menu{
    overflow: hidden;
    position: fixed;
    top:152px;
    background-color: #141313;
    display: none;
    width: 100%;
    z-index:17;
}

#champions{
    text-decoration: none;
}

.champions-menu-content{
    overflow: hidden;
    margin: 0 auto;
    width: 1100px;
}
.champions-menu-text{
    margin-top:35px;
    float: left;
    width: 20%;
}
.champions-menu-blocks-top{
    float: right;
    margin-top: 35px;
    margin-right: 10px;
}
.champions-menu-header-text{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    font-size: 14px;
    color: #337ab7;
    text-transform: uppercase;
    font-weight:800;
    margin-bottom: 15px;
}
.champions-menu-text-href a{
    letter-spacing: 0.15em;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: block;
    font-weight: 600;
}
.champions-menu-text-href a:hover{
    cursor: pointer;
}
.vertical-hr-champions{
    float: left;
    height: 123px;
    border-left: 5px solid red;
    margin-right:15px;
}
.champions-menu-block-top{
    margin-top: -10px;
    overflow: hidden;
    float: left;
    margin-right:10px;
    border: 1px solid #8D7F7F;
    border-radius: 0px;
    margin-bottom: 5px;
    background-color: #1a1a1a;
}
.img-container-champions{
    float: left;
    overflow: hidden;
    width:80px;
    height:80px
}
.icons-champions{
    float: left;
    background-color: #111111;
}
.img-container-champions img{
    height:100%;
}
.champions-block-header{
    letter-spacing: 0.15em;
    margin-top: 5px;
    margin-left: 7px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 22px;
    font-size: 16px;
    color: #46bfbd;
    font-weight: 600;
    margin-right: 15px;
}
.champions-block-bot{
    letter-spacing: 0.15em;
    margin-left: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #525252;
    font-weight: 600;
}
.description-champions{
    float: left;
    width: 80px;
}
.champions-menu-block-top a:hover{
    cursor: pointer;
}
.icons-champions span{
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right:10px;
    margin-left: 10px;
}
.icon-champion1{
    color: #e3c02c;
    margin-top: 10px;
    margin-bottom: 32px;
}
.icon-champion2{
    color: #25de28;
    margin-bottom: 10px;
}
.header-champions-top{
    width: 100%;
}
.header-champions-top span{
    color: #46bfbd;
    font-weight:700 ;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    bottom: 26px;
    padding: 20px;
    padding-bottom: 0px;
    left: 80px;
    z-index:2;
    background-color: #141313;
    letter-spacing: 0.2em;
}
#last-block-champions-top{
    margin-right: 0;
}
#last-block-champions-bottom{
    margin-right: 0;
}
.champions-menu-blocks-bottom{
    margin-bottom: 20px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.header-champions-bottom span{
    color: #914caf;
    font-weight:700 ;
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    bottom: 26px;
    padding: 20px;
    padding-bottom: 0px;
    left: 80px;
    z-index:2;
    background-color: #141313;
    letter-spacing: 0.2em;
}
#last-block-champions-top{
    margin-right: 0;
}
#last-block-champions-bottom{
    margin-right: 0;
}
.last-champions a{
    color: #b2b2b2;
    font-size: 12px;
    margin-bottom: 0px;
}
#last-a-champions{
    margin-top: 25px;
}


@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.eot');
    src: url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.woff') format('woff'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont.ttf') format('truetype'), url('http://html5css3demos.bplaced.net/css3-slider-v3/websymbols-regular-webfont#WebSymbolsRegular') format('svg');
}

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

* {
    margin: 0;
    padding: 0;
}

h1 { color: white }