body{
	padding: 0;
	margin: 0;
	background: url(../images/background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#slideshow-wrap {
    display: block;
    height: 350px;
    min-width: 260px;
    width: 1100px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    margin-top: 0px;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
    width: 20%;
    height: 320px;
    float: left;
    position: relative;
}

#slideshow-inner>ul>li>img {
    width:1100px;
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 12;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 50%;
    bottom: 30px;
    z-index: 12;
    width: 12px;
    height: 12px;
    background-color: #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active { bottom: 30px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgb(242, 233, 53) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgb(242, 233, 53) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgb(242, 233, 53)}


#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap label[for=button-4] { margin-left: 18px }

#slideshow-wrap label[for=button-5] { margin-left: 36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

label.arrows {
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    color: #FFF;
    font-weight: 900;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    cursor: pointer;
    z-index: 8;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0px 0px 3px rgba(0,0,0,.8);
}

label.arrows:hover { color:  rgb(242, 233, 53) }

label.arrows:active { margin-top: -23px }

input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
    right: 470px;
	top: 300px;
    display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 {
	left: 480px;
	top: 300px;
 }

input[type=radio]#button-3:checked~.arrows#arrow-2 {
	left: 462px;
	top: 300px;
}

input[type=radio]#button-5:checked~.arrows#arrow-4 { left: -73px }

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    font-family: 'Yanone Kaffeesatz';
    z-index: 100;
}

.description input { visibility: hidden }

.description label {
    font-family: 'WebSymbolsRegular';
    background-color: rgba(255,255,240,1);
    position: relative;
    left: -17px;
    top: 00px;
    width: 40px;
    height: 27px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 5;
    color: rgb(20,20,20);
}

#slideshow-inner>ul>li:hover .description label { opacity: 1 }

.description input[type=checkbox]:checked~label { opacity: 1 }

.description .description-text {
    background-color: rgba(255,255,230,.5);
    padding-left: 45px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: relative;
    top: -35px;
    z-index: 4;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: rgb(20,20,20);
}

.description input[type=checkbox]:checked~.description-text { opacity: 1 }






.description-slide{
	position: relative;
	bottom: 260px;
	padding-left:30px;
}
.header-slide{
	font-size: 52px;
    font-family: 'Coda', cursive;
    color: #eabc00;
    line-height: 50px;
    font-style: italic;
    margin-bottom: 20px;
}
.text-slide{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #FFF;
	max-width: 400px;
}
#description-slide3, #description-slide2{
	display: none;
}
.container-add{
	background-color: #1a1a1a;
	margin-top:-108px;
	padding: 20px 0;
}
.add{
	width: 700px;
	text-align: center;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0 auto;
}
.top-new{
	overflow: hidden;
}
.news-content{
	width: 1100px;
	margin: 0 auto;
}
#top-add{
	width: 700px;
}
.news-list{
	overflow: hidden;
	background-color: #242424;
	float: left;
	width: 70%;
	padding-top: 30px;
}
.news-add{
	background-color: black;
	float: right;
	width:30%;
	height: 300px;
}
.header-top-new{
	overflow: hidden;
	text-align: center;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;

}
.header-top-new span{
	text-align: center;
	 color: #008df3;
	 font-family: 'Open Sans', sans-serif;
	 text-transform: uppercase;
	 font-weight: 600;
	 font-size: 16px;
	 padding: 0 20px;
	 position: relative;
	 z-index: 2;
	 bottom:29px;
	 background: #242424;
}
.top-new, .recent-new{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;
	box-sizing: border-box;
    background: #1a1a1a;
    border: 2px solid #111111;
    border-radius: 5px;
}
.image-new{
	width: 100%;
	overflow: hidden;
	height: 315px;
}

.image-recent{
	float: left;
	width: 42%;
	overflow: hidden;
	height: 230px;
}
.describe-recent{
	float: right;
	width: 58%;
	overflow: hidden;
}
.image-new img{
	width: 100%;
}

.image-recent img{
	height: 230px;
}
.header-new{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 42px;
    font-family: 'Architects Daughter', cursive;
    color: #eabc00;
    font-weight: 500;
    line-height: 35px;
    font-style: italic;
}

.header-recent{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-weight: 500;
    line-height: 30px;
}

.text-new{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 10px;
}
.text-recent{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #aaa;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 10px;
}
#showmore-button{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	margin: 0 auto;
	text-align: center;
	position: relative;
    padding: 12px 0;
    line-height: 24px;
    background: #2d2d2d;
    color: #e5ba2e;
    border: 2px solid #191919 !important;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 20px;
}
#showmore-button:hover{
	cursor: pointer;
	color: #2b78dc;
	top: 2px;
}
#loading{
    margin: 0 auto;
    text-align: center;
    marker-bottom: 20px;
    display: none;
}
#loading img{
    height: 64px;
    width: 64px;
}
.invisible{
	display: none;
    height: 0;
}
.side-add{
	width: 50%;
	margin: 0 auto;
    overflow: hidden;
}
.side-add img{
    display: none;
}

@media screen and (max-width: 1200px) {
    .sliders-content {
			width: 660px;
		}
		#slideshow-wrap {
			width: 660px;
		}
		#slideshow-inner>ul>li>img {
    	width: 100%;
		}
		.news-content {
			width:660px;
		}
		label.arrows {
			display: none !important;
		}
		.news-add {
			display: none;
		}
		.news-list {
			width: 100%;
		}
		.add {
			width: 100%;
		}
		#top-add {
			width: 100%;
		}
}

@media screen and (max-width: 663px) {
    .sliders-content {
			width: 100%;
		}
		#slideshow-wrap {
			width: 100%;
		}
		#slideshow-inner>ul>li>img {
    	width: 100%;
		}
		.news-content {
			width:100%;
		}
		label.arrows {
			display: none !important;
		}
		.news-add {
			display: none;
		}
		.news-list {
			width: 100%;
		}
		.add {
			width: 100%;
		}
		#top-add {
			width: 100%;
		}
		#slideshow-inner>ul>li>img{
			width: 150%;
		}
		.image-recent {
			display: none;
		}
		.describe-recent {
			width: 100%;
		}
		.sliders-content {
			display: none;
		}
		.container-add {
			display: none;
		}
		.image-new {
			width: 150%;
			height: 100%;
		}
}
