body{
    padding: 0;
    margin: 0;
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login{
    width: 1100px;
    margin: 0 auto;
}
.login-header{
    background: url(../images/login-header.jpg);
    height:140px;
}
.login-header-head{
    font-size: 52px;
    font-family: "league-gothic";
    color: #eabc00;
    font-style: italic;
    margin-left: 40px;
    padding-top: 35px;
}
.login-body{
    background-color: #232121;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
}
.login-body-content{
    background-color: #1a1a1a;
    margin: 0 auto;
    overflow: hidden;
}
.field{
    width: 100%;
    overflow: hidden;
}
.label{
    margin-top: 26px;
    float: left;
    width: 34%;
    text-align: right;
}
.input{
    float: right;
    width: 66%;
    text-align: left;
}
.input input{
    display: block;
    margin-left: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    letter-spacing: 0.025em;
    width: 60%;
    background-color: #1a1a1a;
    color: #008df3;
    border-style: solid;
    border-width: 1px;
    border-color: #383838;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}
.input input:focus{
    background-color: black;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.label span{
    display: block;
    font-size: 20px;
    color: #008df3;
    font-family: 'icomoon';
    float: right;
}
.label p{
    font-family: 'Concert One', cursive;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    float: right;
    color: #b6c5b9;
}

.input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
.input input::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
.input input::-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
.input input::-moz-placeholder { /* Firefox 18- */
  color: pink;
}

#button{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 6px 0 6px 0 !important;
    width: 60%;
    margin-left: 20px;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    color: #eeeeee;
    background-color: #004577;
    text-align: center;
    padding: 6px 15px;
    cursor: pointer;
    white-space: nowrap;
}

#button:hover{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #296fa2;
}

.login-body-ask p{
    display: block;
    margin-top: 17px;
    font-size: 16px;
    color: #888;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.login-body-ask a{
    color: #eabc00;
    text-decoration: none;
}
.login-body-ask a:hover{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.footer{
    margin: 0 auto;
}
#last{
    margin-bottom: 23px;
}
#login-error{
    font-family: 'Concert One', cursive;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ab091e;
    margin-left: 36%;
    display: block;
    margin-top: -20px;
    width: 430px;
    margin-bottom: 10px;
    display: none;
}
#login-error2{
    font-family: 'Concert One', cursive;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ab091e;
    margin-left: 36%;
    display: block;
    margin-top: -20px;
    width: 430px;
    margin-bottom: 10px;
    display: none;
}

@media screen and (max-width: 1200px) {
    .login {
      width: 660px;
    }
}

@media screen and (max-width: 663px) {
    .login {
      width: 100%;
    }
}
