body{
    padding: 0;
    margin: 0;
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer{
    margin: 0 auto;
}
.contet{
    width: 1100px;
    margin: 0 auto;
    background: #242424;
    overflow: hidden;
}
.img-container{
    float: left;
    margin-top: 25px;
    width: 428px;
    height: 460px;
}
.img-container img{
    width: 428px;
}
.text{
    color: #777777;
    font-family: league-gothic, sans-serif;
    font-size: 72px;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 150px;
}

@media screen and (max-width: 1200px) {
    .contet {
      width: 660px;
    }
}

@media screen and (max-width: 663px) {
    .contet {
      width: 100%;
    }
}
