body{
    padding: 0;
    margin: 0;
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.register{
    width: 1100px;
    margin: 0 auto;
}
.register-header{
    background: url(../images/login-header.jpg);
    height:140px;
}
.register-header-head{
    font-size: 52px;
    font-family: "league-gothic";
    color: #eabc00;
    font-style: italic;
    margin-left: 40px;
    padding-top: 35px;
}
.register-body{
    background-color: #232121;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
}
.register-body-content{
    background-color: #1a1a1a;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 37px;
}
.field{
    width: 100%;
    overflow: hidden;
}
.label{
    margin-top: 26px;
    float: left;
    width: 34%;
    text-align: right;
}
.input{
    float: right;
    width: 66%;
    text-align: left;
}
.inputre{
    float: right;
    width: 66%;
    text-align: left;
}
.input input{
    display: block;
    margin-left: 20px;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
    letter-spacing: 0.025em;
    width: 60%;
    background-color: #1a1a1a;
    color: #008df3;
    border-style: solid;
    border-width: 1px;
    border-color: #383838;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}
.input input:focus{
    background-color: black;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.label span{
    display: block;
    font-size: 20px;
    color: #008df3;
    font-family: 'icomoon';
    float: right;
}
.label p{
    font-family: 'Concert One', cursive;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    float: right;
    color: #b6c5b9;
}

.input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
.input input::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
.input input::-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
.input input::-moz-placeholder { /* Firefox 18- */
  color: pink;
}

#send{
    margin-bottom: 5px;
    padding: 6px 0 6px 0 !important;
    width: 60%;
    margin-left: 20px;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    color: #eeeeee;
    background-color: #004577;
    text-align: center;
    padding: 6px 15px;
    cursor: pointer;
    white-space: nowrap;
}

#send:hover{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #296fa2;
}

#reset{
    margin-bottom: 5px;
    padding: 6px 0 6px 0 !important;
    width: 60%;
    margin-left: 20px;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    color: #eeeeee;
    background-color: #383838;
    text-align: center;
    padding: 6px 15px;
    cursor: pointer;
    white-space: nowrap;
}

#reset:hover{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #685f5f;
}
.register-body-ask p{
    display: block;
    margin-top: 17px;
    font-size: 16px;
    color: #888;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}

.footer{
    margin: 0 auto;
}
#last{
    margin-bottom: 33px;
    margin-top: -10px;
}

.help{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.025em;
    line-height: 24px;
    color: #aaaaaa;
    display: block;
}
.re{
    margin-top: -15px;
}
#ch input{
    display: inline-block;
    font-size:5px;
    height: 15px;
    width: 50px;
    margin-left: 0
}
.input label{
    margin-left: -15px;
    font-family: 'Concert One', cursive;
    color:#fff;
}
.container{
    margin-left: 5px;
    margin-top: -10px;
}
#hidden{
    display: none;
}
#login-error{
    font-family: 'Concert One', cursive;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ab091e;
    margin-left: 36%;
    display: block;
    margin-top: -20px;
    width: 430px;
    margin-bottom: 10px;
    display: none;
}
#login-error2{
    font-family: 'Concert One', cursive;
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ab091e;
    margin-left: 36%;
    display: block;
    margin-top: -20px;
    width: 430px;
    margin-bottom: 10px;
    display: none;
}

@media screen and (max-width: 1200px) {
    .register {
      width: 660px;
    }
}

@media screen and (max-width: 663px) {
    .register {
      width: 100%;
    }
}
